*{

margin:0;
padding:0;
box-sizing:border-box;

}



body{

height:500vh;

overflow:hidden;

font-family:Georgia,serif;

background:

linear-gradient(

135deg,

#080018,

#32002f,

#080018

);

color:white;

}



.container{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;

text-align:center;

}



h1{

font-size:55px;

margin-bottom:60px;

text-shadow:

0 0 25px pink;

}



/* SOBRE */


.envelope{

position:relative;

width:350px;

height:230px;

background:#d94f86;

border-radius:10px;

cursor:pointer;

box-shadow:

0 0 40px rgba(255,100,180,.7);

perspective:1000px;

}



.flap{

position:absolute;

top:0;

left:0;

width:0;

height:0;

border-left:175px solid transparent;

border-right:175px solid transparent;

border-top:130px solid #ff79a8;

transform-origin:top;

transition:1s;

z-index:5;

}



.envelope.open .flap{

transform:

rotateX(180deg);
z-index: 5;

}




.paper{
    z-index: 2;
    .flap{
        z-index: 5;
    }

position:absolute;

background:#fff8ef;

color:#5b1c35;

width:300px;

height:320px;

left:25px;

top:-80px;

padding:20px;

border-radius:5px;

transition:1.5s;

transform:translateY(0);

opacity:0;
overflow-y: auto;
box-sizing: border-box;

box-shadow:

0 0 30px #fff;

}



.envelope.open .paper{

transform:

translateY(-120px);

opacity:1;
z-index: 2;

}



.paper h2{

margin-bottom:20px;

font-size:30px;

}



.paper p{

font-size:18px;

line-height:1.7;

text-align:left;

}



/* BOTONES */


button{

margin-top:60px;

padding:18px 45px;

border:none;

border-radius:40px;

background:

rgba(255,255,255,.15);

backdrop-filter:blur(10px);

color:white;

font-size:20px;

cursor:pointer;

box-shadow:

0 0 25px pink;

transition:.4s;

}



button:hover{

transform:scale(1.1);

background:#ff4f91;

}



#continue{

display:none;

}



/* corazones */


.heart{

position:absolute;

color:#ff75aa;

font-size:25px;

animation:float 8s linear;

}



@keyframes float{


from{

transform:translateY(100vh);

opacity:0;

}


20%{

opacity:1;

}


to{

transform:translateY(-100vh);

opacity:0;

}


}