*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

height:100vh;

overflow:hidden;

font-family:Georgia,serif;

color:white;


background:

radial-gradient(circle,

#4b174f,

#080014 70%);


}





#stars{

position:absolute;

width:100%;

height:100%;

}




.star{

position:absolute;

background:white;

border-radius:50%;

animation:star 3s infinite;

}




@keyframes star{


50%{

opacity:.2;

transform:scale(.5);

}

}




.final-container{


height:100vh;


display:flex;


justify-content:center;


align-items:center;


flex-direction:column;


text-align:center;


position:relative;


z-index:5;


}





.heart-star{


font-size:120px;


animation:pulse 2s infinite;


filter:drop-shadow(0 0 30px pink);


}





@keyframes pulse{


50%{

transform:scale(1.2);

}

}





h1{


font-size:90px;


margin:30px;


letter-spacing:8px;


text-shadow:

0 0 20px #ff5fa2,

0 0 60px pink;


animation:glow 2s infinite;


}



@keyframes glow{


50%{

opacity:.7;

}

}




p{


font-size:28px;


line-height:1.8;


max-width:700px;


}





button{


margin-top:50px;


padding:20px 50px;


border:none;


border-radius:50px;


font-size:22px;


background:#ff4f91;


color:white;


cursor:pointer;


box-shadow:

0 0 40px pink;


transition:.4s;


}



button:hover{


transform:scale(1.1);


}






.heart{


position:absolute;


font-size:25px;


animation:float 8s linear;


}





@keyframes float{


from{

transform:translateY(100vh);

}


to{

transform:translateY(-120vh);

}


}






.petal{


position:absolute;


width:18px;


height:25px;


background:#ff8fc4;


border-radius:50%;


animation:fall 8s linear;


}




@keyframes fall{


from{

transform:translateY(-50px) rotate(0);

}


to{

transform:translateY(110vh) rotate(360deg);

}


}